@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#btn {
  border: 0;
  border-radius: .2rem;
  background-color: blueviolet;
  color: #fff;
  width: 100%;
  margin: .8rem 0rem;
  padding: .5rem;
  text-transform: uppercase;
  font-weight: bold;
}